@import url('style.css');

.model{
    display: none;
}

#allCategories {
    text-align: center;
}
.itensCategoriaAll {
    text-align: center;
    display: grid;
    width: 100%;
    justify-content: center;
    gap: var(--gap30);
    margin-top: var(--gap30);
    grid-template-columns: 200px 200px 200px;
    min-height: 100vh;
    margin: var(--gap30);
}

.titleItemCategoria {
    font-size: 15px;
    text-shadow: none;
    transition: all 300ms;
    color: white;
}

.titleItemCategoria:hover {
    text-shadow: 0px 0px 5px #4ccd9976;
}

.btnViewProduct {
    background-color: var(--green2);
    padding: 5px var(--gap15);
    color: var(--white1);
    display: flex;
    justify-content: end;
    height: 30px;
}
.itemCategoria {
    max-width: 300px;
    min-width: 200px;
    height: 350px;
    gap: var(--gap15);
    padding: var(--gap15);
    box-shadow: 0px 0px 5px var(--green1);
    background-color: transparent;
    justify-content: space-between;
}

.priceItem {
    color: var(--green1);
    text-align: start;
}